body{
    background-color: rgb(240, 26, 97);
    color: white;
}
#inner-div{
    background-color: rgb(54, 45, 172);
}.buttons:hover{
    transform: scale(120%);
}.buttons{
    border-radius: 7px;
    padding: 5px;
    padding-right: 75px;
    padding-left: 75px;
}